    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
     :root {
        --login-bg: #afafaf;
        --title-bg: #000000;
        --button-bg: #000000;
        --light: #ffffff;
        --image-bg: #ffffff;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #969c9c;
    }
    
    .secContacto {
        height: 100vh;
    }
    

    
    hr {
        border: 1px solid var(--light);
        opacity: 0.8;
        margin: 1rem 0;
    }
    
 
    
    #mainNav {
        font-size: 23px;
    }
    

    
 
 
    
  
    
  
  
    
  
    
    @media (max-widht:450px) {
        .form {
            padding: 3.5em 1em;
        }
    }
    
    a {
        color: inherit !important;
    }
    
 
    .navbar-brand img {
        width: 55px;
    }
    
    .header-main {
        min-height: 100vh;
    }
    
    .photo-frame {
        float: right;
    }
 
    

    #informacion {
        height: 60vh;
    }
    
    .contact {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        text-align: center;
        font-size: x-large;
    }
    
    .mapa {
        width: 100%;
        height: auto;
        flex: 50%;
    }
    
    .info {
        width: 100%;
        height: auto;
        flex: 50%;
    }
    
  
    
    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .formulario__label {
        display: block;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
    }
    
   



    
 
    
    .pie-pagina {
        width: 100%;
        background-color: #0a141d;
    }
    
    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    
    .pie-pagina .grupo-1 .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 250px;
    }
    
    .pie-pagina .grupo-1 .box h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    .pie-pagina .grupo-1 .box p {
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .pie-pagina .grupo-1 .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #dae0e6;
        text-align: center;
        transition: all 300ms ease;
    }
    
    .pie-pagina .grupo-1 .red-social a:hover {
        color: aqua;
    }
    
    .pie-pagina .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    
    .pie-pagina .grupo-2 small {
        font-size: 15px;
    }
    
    @media screen and (max-width:800px) {
        .pie-pagina .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }
    
  

    .inicio {
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        background: url(img/1371357.jpg) no-repeat center fixed ;
        background-size: auto;
    }
    

    


    
.line{
    margin: 10px auto;
    width: 200px;
    background: rgb(255, 255, 255);
    height: 8px;
    border-radius: 5px;
}

    .title{
        text-align: center;
        font-size: 4vmin;
        color:black;
    }
    
    .contenedor__slider {
        width: 100%;
        height: 100vh;
       
        position: relative;
    }
    
    .cajaa1 {
        background: linear-gradient( rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%), url(img/1371357.jpg);
        background-size: cover;
        height: 100vh;
        width: auto;
    }
    
    .slider__caja {
        z-index: 1;
        width: 100%;
        position: absolute;
        height: 100%;
        clip-path: circle(0% at 0 48%);
    }
    
    .slider__caja.active {
        clip-path: circle(150% at 0 48%);
        transition: 2s;
        transition-property: clip-path;
    }
    
    .slider__caja.active p {
        animation: fernando 3s alternate;
        padding-top: 10px;
    }
    
    .slider__caja.active h3 {
        animation: fernando 3s alternate;
    }
    
    .info1 {
        position: absolute;
        top: 35%;
        left: 5%;
        transform: traslateY(-35%);
        color: #fff;
        max-width: 40%;
    }
    
    .info1 h3 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
    
    @keyframes fernando {
        from {
            transform: translateY(-200px);
        }
        to {
            transform: translateY(0);
        }
    }
    
    .info1 {
        max-width: 100%;
    }
    
    .slider__caja .info1 .contenedor__botones {
        padding: 35px 0;
    }
    
    .slider__caja .info1 .contenedor__botones span {
        margin-left: 6px;
    }
    
    .slider__caja .info1 .contenedor__botones a {
        color: var(--blanco);
        text-decoration: none;
        padding: 1em 2em;
        border-radius: 0.4em;
        background-color: rgba(34, 18, 180, 0.7);
        margin-right: 10px;
    }
    
    .slider__caja .info1 .contenedor__botones a:hover {
        /* color: var(--negro); */
        background-color: rgba(0, 0, 0, 0.5);
        transition: 1s ease;
    }
    
    .slider__caja .info1 h3:first-child {
        color: var(--azul__fuerte);
        font-size: 1.8em;
        font-weight: 500;
    }
    
    .slider__caja .info1 h3 {
        font-weight: 500;
    }
    
    .slider__caja .info1 span:first-child {
        color: var(--azul__fuerte);
    }
    
    .btn-link:hover,
    .btn-link.activo {
        color: var(--blanco);
        text-decoration: none;
        padding: 1em 2em;
        border-radius: 3em;
        background-color: rgb(180, 34, 34);
        margin-right: 10px;
        font-size: 15px;
    }
    
    .typed {
        font-size: 45px;
    }
    

  